<div ngSkipHydration>
    <div class="container">
        <div>
            <h2>Modifier Un livre:</h2>
        </div>
    
                        <form [formGroup]="myForm" (ngSubmit)="updatelivre()">
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <label>l'id</label>
                                <input type="number"  [(ngModel)]="currentlivre.idlivre" formControlName="idlivre"  class="form-control">
                            </div>
                            <span
                            *ngIf="myForm.controls['idlivre'].hasError('required')&& myForm.controls['idlivre'].touched"
                            class="text-danger">
                            L'id est obligatoire
                        </span>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <label>titre</label>
                        <input type="text"  [(ngModel)]="currentlivre.titre" formControlName="titre" class="form-control">
                    </div>
                    <span
                    *ngIf="myForm.controls['titre'].hasError('required')&& myForm.controls['titre'].touched"
                    class="text-danger">
                    Le titre est obligatoire
                </span>
                <span
                *ngIf="myForm.controls['titre'].hasError('minlength')&& myForm.controls['titre'].touched"
                class="text-danger">
                Le titre doit contenir au moins 6 caractères 
            </span>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label>auteur</label>
                <input type="text" formControlName="auteur"  [(ngModel)]="currentlivre.auteur"  class="form-control">
            </div>
            <span
            *ngIf="myForm.controls['auteur'].hasError('required')&& myForm.controls['auteur'].touched"
            class="text-danger">
            L'auteur est obligatoire
        </span>
        <span
        *ngIf="myForm.controls['auteur'].hasError('minlength')&& myForm.controls['auteur'].touched"
        class="text-danger">
        L'auteur doit contenir au moins 6 caracteres
    </span>
    
    <div class="col-sm-2 col-md-2 col-lg-2">
        <label>nbre des pages</label>
        <input type="number" formControlName="nbpages"  [(ngModel)]="currentlivre.nbpages" class="form-control">
    </div>
    <span
    *ngIf="myForm.controls['nbpages'].hasError('required')&& myForm.controls['nbpages'].touched"
    class="text-danger">
    Le nbre des pages  est obligatoire
    </span>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <label>email</label>
                        <input type="text" formControlName="email"  [(ngModel)]="currentlivre.email" class="form-control">
                    </div>
                    <span
                    *ngIf="myForm.controls['email'].hasError('required')&& myForm.controls['email'].touched"
                    class="text-danger">
                    L'email est obligatoire
                </span>
                    <span
                    *ngIf="myForm.controls['email'].hasError('email')&& myForm.controls['email'].touched"
                    class="text-danger">
                    L'email n'est pas valide
                </span>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>date de publication</label>
                        <input type="date" formControlName="datepublication"  [(ngModel)]="currentlivre.datepublication"
                            class="form-control">
                    </div>
                    <span
                    *ngIf="myForm.controls['datepublication'].hasError('required')&& myForm.controls['datepublication'].touched"
                    class="text-danger">
                    La date est obligatoire
                </span>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>genre</label>
                        <select class="form-control form-control-lg" id="idgenre"  [(ngModel)]="updatedgenId" formControlName="idgenre">
                            <option *ngFor="let gen of genres" [value]="gen.idgenre">
                                {{gen.nomgenre}}
                            </option>
                        </select>
                    </div>
                        <span
                        *ngIf="myForm.controls['idgenre'].hasError('required')&& myForm.controls['idgenre'].touched"
                        class="text-danger">
                        Le genre est obligatoire
                    </span>
               
                    <div class="mt-2">
                        <button type="submit" (click)="updatelivre()" class="btn btn-success" [disabled]="myForm.invalid" >Modifer</button>
                    </div>
                </form>
            </div>  
</div>
